.headerbar
{
	height:55px;
	width:100%;
	text-align:center;
	position:fixed;
  	box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
	background-color:#FF6636;
	top:0;
	left:0;
    	z-index: 1;
	right:0;
}
.headerleft
{
	float:left;
	margin-left:10px;
	margin-top:8px;	
}
.headerright
{
	float:right;
	margin-right:10px;
	margin-top:15px;
}
.textleft
{
	color:white;
	text-decoration:none;
	font-size:30px;
	font-weight:bold;
}
.textright
{
	color:white;
	font-size:20px;
	font-weight:bold;
	background-color:#ff6636;
	padding:5px;
	margin-right:10px;
	outline:none;
	border:none;
	cursor:pointer;
	width:100px;
	border-radius:10px;
	text-decoration:none;
}
.textright:active
{
	background-color:white;
	color:#ff6636;
}
.search
{
	width:400px;
	font-size:18px;
	padding:8px;
	outline:none;
	margin-top:8px;
	border:none;
	border-radius:10px;
}
.cartfloat
{
	width:298px;
	right:0;
	top:0;
	max-height:400px;
	margin-top:55px;
	margin-right:32px;
	overflow:auto;
	border:2px solid #FCDACF;
	background-color:#FCDACF;
	position:fixed;
	z-index:1;
}
.ids
{
	text-decoration:none;
	color:#ff6636;
	padding:15px;
}
.lis li
{
	list-style-type:none;
	width:100%;
	margin-left:-25px;
	background-color:white;
	padding:5px;
}
.btns
{
	background-color:#FF6636;
	color:white;
	width:300px;
	outline:none;
	margin-left:-2px;
	border:none;
	z-index:1;
	cursor:pointer;
	font-size:18px;
	padding:3px;
	font-weight:bold;
}
.btns:active
{
	color:black;
}
.cartloaderthing
{
	background-color:#FCDACF;
	border-radius:20px;
	display:block;
	display:none;
	margin-top:10px;
	margin-left:104px;
	position:fixed;
	z-index:1;
}
.cartloadericon
{
	border:4px solid #FF6636;
	border-radius:50%;
	margin-left:20px;
	border-top:4px solid #FFFFFF;
	width:20px;
	height:20px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
.cartloaderletter
{
	font-size:20px;
	margin-left:
	font-weight:bold;
	color:#FF6636;
}
